.sidebar {
  width: 16rem;
  height: 100vh;
  border-right: 2px solid var(--border);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;

  &.collapsed {
    width: 4rem;
  }
}

.sidebar-header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border);
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0.5rem;
}

.sidebar-footer {
  border-top: 1px solid var(--border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-section-header {
  padding: 0 0.75rem;
  color: var(--muted-foreground);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  white-space: nowrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  min-width: 0;
  overflow: hidden;
}

.logo-text {
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
}


.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nav-item {
  position: relative;
  width: 100%;
}

.nav-text {
  transition: opacity 0.2s ease, width 0.2s ease;
  overflow: hidden;
}


.nav-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  color: var(--foreground);
  width: 100%;
}

.nav-item.active, .nav-link:hover {
  background-color: var(--accent);
  border-radius: 0.375rem;
  font-weight: 500;
}

.theme-toggle {
  margin-bottom: 0.5rem;
}

.theme-button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--foreground);
  overflow: hidden;
}

.theme-button:hover {
  background-color: var(--accent);
}

.theme-text {
  white-space: nowrap;
}

.collapse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  color: var(--foreground);
  transition: transform 0.3s ease-in-out;

  &.rotate {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--accent);
  }
}

.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.collapsed .nav-section-header,
.collapsed .logo-text,
.collapsed .nav-text,
.collapsed .logo {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  flex-shrink: 0;
}
